@media screen and (max-width: 1010px) {
	.what-tokens__info {
			h3, p {
				margin-left: 0;
			}
		}
}

@media screen and (max-width: 700px) {

	.what-tokens__info {
		p {
			font-size: 14px;
			line-height: 22px;
			margin-bottom: 15px;
		}
	}
	.what-tokens__photo {
		margin: 20px 0;
		img {
			max-width: 100%;
		}
	}

	.what-tokens {
		padding: 45px 0;
	}
}
