.what-tokens {
    background-color: #FAFAFA;
}
.what-tokens__content {
    margin-top: 35px;
    @include grid(2, 60px, 20px, 2, 1, 1);
}
.what-tokens__info {
    color: #616161;
    h3 {
        @include subtitle($min-height: 43px)
    }
    p {
        padding: 1rem;
    }
}
.what-tokens__photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    position:relative;
    p {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 0;
        font-weight: bold;
        img {
            margin-right: 10px;
            width: 40px;
        }
    }
}
