@media screen and (max-width: 1200px) {
	.basket-item__type {
		display: block;
	}
	.basket-item__status {
		margin-right: 0;
		padding-right: 0;
		text-align: center;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #e4e4e4;
		&::before {
			display: none;
		}
	}
	.basket-counter__content {
		display: block;
	}
	.basket-counter__btn {
		margin: 20px auto 0;
	}
	.basket-counter__list {
		width: fit-content;
		margin: 0 auto;
	}
}

@media screen and (max-width: 1010px) {
	.basket-counter__item {
		p {
			width: 220px;
		}
	}
	.basket-tabs {
		display: flex;
	}
	.basket-frame {
		display: block;
		margin-top: 25px;
	}
	.basket-content {
		width: 100%;
		display: none;
		h3 {
			display: none;
		}
		&:first-child {
			display: block;
		}
	}
}

@media screen and (max-width: 700px) {
	.basket-item__title {
		h4 {
			font-size: 14px;
		}
	}
	.basket-item__garbage {
		width: 42px;
		height: 42px;
		font-size: 14px;
		&:hover {
	        background-color: inherit;
        	color: $sub-color;
    	}
	}
	.basket-list{
		padding: 20px 10px 30px;
	}
	.basket-list_new {
		.basket-item {
			display: flex;
		}
	}
	.basket-item {
		display: block;
	}
	.basket-item__type {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 10px;
	}
	.basket-item__status {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 13px;
		padding: 0;
		margin: 0;
		border: none;
		b {
			margin-bottom: 0;
			margin-right: 3px;
		}
	}
	.basket-counter__item {
		span {
			font-size: 12px;
		}
		p {
			width: 110px;
			height: 50px;
			padding: 9px 8px;
			font-size: 16px;
		}
	}
	.basket-counter {
		padding: 30px 0;
	}
}