/*body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
:root {
  --blue: #02A3D4;
}


main{
    min-height: 80vh;
}

h1{
	margin-bottom: 2rem;
}

.col-no-padding{
	padding: 0;
}



/*Header*/
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link{
	color: rgba(0,0,0,.9);
}


#brand-icon{
	width: 125px;
	height: auto;
}

/*.navbar-base{
	bottom: 0;
}*/

.navbar .navbar-icon{
	display: block;
	text-align: center;
	padding: .5rem;
}

.navbar-icon p{
	margin: 0;
}


#account-dropdown::after{
    content: none;
}

#account-dropdown{
    padding: 0!important;
    background-color: white;
    border: none;
    color:inherit;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--blue);
}

#account-dropdown:focus {
  box-shadow: none;
}

/*Header end*/



/*Footer*/
footer{
	font-size: 0.9em;
	min-height: 300px;
}

footer h2{
	font-size: 1.1em;
}

footer .list-group-flush>.list-group-item{
	border-width: 0px;
}

footer #brand-icon{
	width: 300px;
	height: auto;
}
/*Footer end*/



/*Register Screen*/
input[type="text"], input[type="password"], input[type="email"]{
        border: none;
        line-height: 2em;
        border-bottom: 1px solid black;
    }

.form-control:focus {
  box-shadow: none;
  border-color: var(--blue);
}

.form-control{
	border-radius: 0;
}

.my-form-floating>label{
	padding-top: 1.625rem;
	padding-bottom: 0.625rem;
}


.my-form-floating .form-label{
  opacity: 0.7;
  transition: opacity .2s ease-in,transform .2s ease-in!important;
}

.my-form-floating>.form-control:focus~label, 
.my-form-floating>.form-control:not(:placeholder-shown)~label, 
.my-form-floating>.form-select~label {
  font-size: 80%;
  transform: scale(.85) translateY(-1.5em) translateX(.15rem);
  opacity: 1;
}

/*Register Screen*/




a, a:hover{
	color: black;
	text-decoration: initial; 
}


/* Cart screen */
/*#onhand-items{
	height: 80vh;
	overflow: scroll;
}

#new-items, #return-items{
	height: 40vh;
	overflow: scroll;
}*/

.window-name{
	font-size: 1.4rem;
	color: var(--blue);
	margin-bottom: 1em;
}

.cart-name{
	font-size: 1rem;
}


.cart-footer{
	min-height: 5rem;
	position: fixed;
	bottom: 0;
	background-color: white;
	opacity: 60%;
	z-index: 1;
}

.cart-footer:hover{
	opacity: 100%;
}

.cart-footer h2{
	font-size: 1.3rem;
}

.cart-footer button{
	background-color: var(--blue);
}


.bag-item-return{
	/*background-color: gray;*/
	opacity: 60%;
}

.get-started-button{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20%;
	height: 50px;
	background-color: var(--blue);
}

/* Cart screen ends */



/* Subscription plans */
.table-plans{
	vertical-align: middle;
}


.table-plans .value-cells{
	text-align: center;
}

.parameter-name-cells{
	width:40%;
}

.option-selector > div{
	width: 60%;
}

.option-selector > div > label{
	padding: 0.25rem;
	height: 100px;
	margin: 1.5rem;
	margin-bottom: 2rem!important;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--blue);
	border: none;
}

#submit-plan{
	background-color: var(--blue);
	border:none;
}

/* Subscription plans */
