.registration {
    padding: 60px 0 100px;
}
/*.page-input {
    width: 100%;
    padding: 0 25px;
    height: 55px;
    display: block;
    background: #F5F5F5;
    border-radius: 150px;
    font-size: 16px;
    color: #606060;
    border: 1px solid #F5F5F5;
    transition: .3s;
    &:focus {
        border-color: $main-color;
    }
}*/
.registration-content {
    width: 555px;
    margin: 50px auto 0;
}
.registration-subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #606060;
    &::before {
        content: '';
        width: 28px;
        height: 4px;
        background-color: $sub-color;
        border-radius: 150px;
        margin: 0 auto 15px;
        display: block;
    }
}
.registration-form {
    margin-top: 40px;
    .page-input {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.registration-sub {
    @include button(236px, 61px);
    margin: 50px auto 0;
}
.registration-check {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    cursor: pointer;
    .check {
        background: #F5F5F5;
    }
    i {
        color: $main-color;
        font-size: 7px;
    }
    p {
        font-size: 14px;
        line-height: 20px;
        color: #606060;
        margin-top: 3px;
    }
    input {
        display: none;
    }
}
/*.registration-valid {
    position: relative;
    p {
        display: flex;
        align-items: center;
        margin-top: 0;
        position: absolute;
        right: -240px;
        top: -1px;
        &::before {
            left: -5px;
            right: auto;
            top: auto;
        }
    }
}*/

.login-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    a, p {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }

    &::after {
        content: '';
        width: 50%;
        height: 2px;
        background-color: #ECECEC;
        margin: 25px auto 25px;
        display: block;
    }
}

.login-btn_nonauth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
    }
}

.login-btn_registration{
    @include button(236px, 61px);
    margin: 25px auto 0;

    color: $main-color;
    font-weight: 600;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #FFA34E;
    &:hover {
        box-shadow: 0px 10px 20px rgba(252, 186, 125, 0.35);
        background: $main-color;
        border-color: $main-color;
        color: #fff;
    }
}

.registration-address_price{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img{
        width: 84px;
        margin: 0 auto;
    }
    p:nth-child(3)  {
        color: $sub-color;
        font-size: 20px;
        font-weight: bold;
    }
}

/*.register-tariff-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;

    &::before {
        content: '';
        width: 100%;
        height: 2px;
        background-color: #ECECEC;
        margin: 25px auto 25px;
        display: block;
    }
}*/